<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="communication"
             type="Lab3.FileLocking.Communication.Config.ConfigHandler, Lab3.FileLocking.Communication" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="arbiterAppName" value="D:\\Google Drive\\Programming\\Visual Studio Projects\\SProg\\Lab3.FileLocking.Arbiter\\bin\\Release\\Lab3.FileLocking.Arbiter.exe"/>
  </appSettings>
  <communication hostname="localhost" port="15645" />
</configuration>